<div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "noimage.png" %>
  <h3 class="profile-name"><%= user.name %></h3>
  <% if user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "pull-right" %></p>
  <% end %>
</div>
<% if book.user == current_user %>
<%= link_to "削除", books_path(book), method: :delete %>
<% end %>
