<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <table class="books-index">
          <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
          </tr>
            <% @books.each do |book| %>
            <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'png', class: "img-circle pull-left profile-img", fallback: "noimage.png", size:'60x60' %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= link_to book.title ,book_path(book) %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
           <% end %>
            <% end %>
      </table>

      </div>
    </div>
  </div>
</section>